<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <title>Flask store</title>

            <script src="/static/app.js"></script>
        {% endblock %}
    </head>
    <body>
        {% include "_nav.html" %}
        {% block content %}{% endblock %}
    </body>
</html>
