{% extends "_base.html" %}

{% block content %}
    <div class="products-table" data-controller="products">
        <table data-target="products.table">
            <thead>
            </thead>
            <tbody data-target="products.tableBody">
            </tbody>
        </table>

        <form data-target="products.form" data-action="submit->products#processForm"
              data-create-url="{{ url_for('api.products') }}">
            {% for field in ['ext_no', 'name', 'price'] %}
                <div>
                    {{ form[field].label }}
                    {{ form[field]() }}
                </div>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
