<!DOCTYPE html>
<html>
    <head>
        <title>Flask store root</title>
    </head>
    <body>
        {% for (title, url) in urls %}
            <a href="{{ url }}">{{ title }}</a>
        {% endfor %}
    </body>
</html>
